{% extends "base.html" %}

{% block content %}

<section class="jumbotron text-center">
  <div id="expand" class="container">
    <img src="{{thumb}}">
    <br>
    <h2>{{product.name}}</h2>
    <p>{{product.description}}</p>
    <br>
    <form class="form-signin" method="post" enctype="multipart/form-data" action="{{ url_for('buy', id=product.id) }}">
      <div class="input-group" style="margin-bottom: 10px;">
          <input type="text" class="form-control" placeholder="Your text" aria-label="Text" name="text" style="text-align: left;">
      </div>

      <div class="input-group" style="margin: 0 175px;">
        <button class="btn btn-outline-secondary" type="submit">See your changes!</button>
      </div>
    </form>
  </div>
</section>

{% endblock %}
